---
import "../styles/home.css";
import Layout from "../layouts/Layout.astro";
import UnderMaintenance from "../components/UnderMaintenance.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StarFable - Explore the Universe</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <UnderMaintenance />
  </body>
</html>
