---

---

<div class="code-container">
  <svg
    onclick="onCopyClick(this)"
    class="copy-svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20 1.66669H14.592C12.1413 1.66669 10.2 1.66669 8.68133 1.87069C7.11867 2.08135 5.85333 2.52402 4.85467 3.52135C3.85733 4.52002 3.41467 5.78535 3.204 7.34802C3 8.86802 3 10.808 3 13.2587V21.3334C2.99976 22.5247 3.42488 23.6769 4.1988 24.5826C4.97271 25.4882 6.04457 26.0878 7.22133 26.2734C7.404 27.292 7.75733 28.1614 8.464 28.8694C9.26667 29.672 10.2773 30.016 11.4773 30.1787C12.6333 30.3334 14.104 30.3334 15.9267 30.3334H20.0733C21.896 30.3334 23.3667 30.3334 24.5227 30.1787C25.7227 30.016 26.7333 29.672 27.536 28.8694C28.3387 28.0667 28.6827 27.056 28.8453 25.856C29 24.7 29 23.2294 29 21.4067V14.5934C29 12.7707 29 11.3 28.8453 10.144C28.6827 8.94402 28.3387 7.93335 27.536 7.13069C26.828 6.42402 25.9587 6.07069 24.94 5.88802C24.7545 4.71126 24.1549 3.6394 23.2492 2.86548C22.3435 2.09157 21.1913 1.66645 20 1.66669ZM22.84 5.69469C22.6373 5.10269 22.2545 4.5889 21.7452 4.22525C21.236 3.86161 20.6258 3.66631 20 3.66669H14.6667C12.124 3.66669 10.3187 3.66935 8.94667 3.85335C7.60667 4.03335 6.83333 4.37202 6.26933 4.93602C5.70533 5.50002 5.36667 6.27335 5.18667 7.61335C5.00267 8.98535 5 10.7907 5 13.3334V21.3334C4.99962 21.9591 5.19492 22.5693 5.55857 23.0786C5.92221 23.5878 6.436 23.9706 7.028 24.1734C7 23.36 7 22.44 7 21.4067V14.5934C7 12.7707 7 11.3 7.156 10.144C7.316 8.94402 7.66267 7.93335 8.464 7.13069C9.26667 6.32802 10.2773 5.98402 11.4773 5.82269C12.6333 5.66669 14.104 5.66669 15.9267 5.66669H20.0733C21.1067 5.66669 22.0267 5.66669 22.84 5.69469ZM9.87733 8.54669C10.2467 8.17735 10.764 7.93735 11.744 7.80535C12.7493 7.67069 14.0853 7.66802 15.9987 7.66802H19.9987C21.912 7.66802 23.2467 7.67069 24.2547 7.80535C25.2333 7.93735 25.7507 8.17869 26.12 8.54669C26.4893 8.91602 26.7293 9.43335 26.8613 10.4134C26.996 11.4187 26.9987 12.7547 26.9987 14.668V21.3347C26.9987 23.248 26.996 24.5827 26.8613 25.5907C26.7293 26.5694 26.488 27.0867 26.12 27.456C25.7507 27.8254 25.2333 28.0654 24.2533 28.1974C23.2467 28.332 21.912 28.3347 19.9987 28.3347H15.9987C14.0853 28.3347 12.7493 28.332 11.7427 28.1974C10.764 28.0654 10.2467 27.824 9.87733 27.456C9.508 27.0867 9.268 26.5694 9.136 25.5894C9.00133 24.5827 8.99867 23.248 8.99867 21.3347V14.668C8.99867 12.7547 9.00133 11.4187 9.136 10.412C9.268 9.43335 9.50933 8.91602 9.87733 8.54669Z"
      fill="white"></path>
  </svg>
  <svg
    class="check-svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M24.7693 8.24402C24.9124 8.34503 25.0342 8.47324 25.1277 8.62132C25.2212 8.7694 25.2846 8.93446 25.3144 9.10706C25.3441 9.27967 25.3395 9.45643 25.3009 9.62726C25.2623 9.7981 25.1904 9.95965 25.0893 10.1027L17.5346 20.796C17.0546 21.4734 16.648 22.0494 16.2813 22.488C15.8986 22.9414 15.468 23.3654 14.8973 23.6347C14.0516 24.0361 13.0869 24.1088 12.1906 23.8387C11.5826 23.656 11.0973 23.2974 10.6586 22.9027C10.2386 22.5227 9.76264 22.012 9.2053 21.4147L7.0253 19.0774C6.9012 18.9502 6.80376 18.7996 6.73868 18.6343C6.67361 18.469 6.64222 18.2924 6.64636 18.1148C6.6505 17.9372 6.69009 17.7622 6.7628 17.6002C6.83551 17.4381 6.93987 17.2922 7.06976 17.171C7.19965 17.0498 7.35245 16.9558 7.51918 16.8945C7.6859 16.8332 7.8632 16.8058 8.04066 16.814C8.21811 16.8221 8.39214 16.8657 8.55253 16.9421C8.71292 17.0184 8.85643 17.1261 8.97464 17.2587L11.116 19.5547C11.7226 20.204 12.1213 20.6294 12.4466 20.924C12.7666 21.212 12.9053 21.2694 12.96 21.2854C13.2213 21.3654 13.5 21.3454 13.7573 21.224C13.8186 21.1947 13.956 21.1107 14.2373 20.7734C14.5253 20.4307 14.868 19.9467 15.388 19.212L22.9106 8.56402C23.0116 8.42094 23.1398 8.29916 23.2879 8.20564C23.436 8.11211 23.6011 8.04868 23.7737 8.01897C23.9463 7.98925 24.123 7.99383 24.2939 8.03245C24.4647 8.07106 24.6263 8.14296 24.7693 8.24402Z"
      fill="#03C109"></path>
  </svg>
  <slot />
</div>
<style>
  .code-container {
    position: relative;
  }
  .code-container svg {
    transition: all 0.3s;
    position: absolute;
    top: 13px;
    right: 20px;
    width: 1.2rem;
    cursor: pointer;
  }
  .code-container svg:active {
    transform: scale(0.8);
  }
  .code-container svg:nth-child(2) {
    display: none;
    transform: scale(0);
  }
</style>
<script defer>
  function onCopyClick(svg) {
    const container = svg.closest(".code-container");
    const svg1 = container.querySelector("svg:nth-child(1)");
    const svg2 = container.querySelector("svg:nth-child(2)");

    // Copy code to clipboard
    const codeToCopy = container.querySelector("pre").innerText;
    navigator.clipboard
      .writeText(codeToCopy)
      .then(() => {
        // Swap SVG icons
        svg1.style.display = "none";
        svg2.style.display = "block";

        setTimeout(() => {
          svg2.style.transform = "scale(1)";

          setTimeout(() => {
            // Reset to original state after animation
            svg2.style.display = "none";
            svg2.style.transform = "scale(0)";
            svg1.style.transform = "scale(0)";
            svg1.style.display = "block";

            setTimeout(() => {
              svg1.style.transform = "scale(1)";
            }, 100);
          }, 3000);
        }, 100);
      })
      .catch((err) => {
        console.error("Failed to copy text: ", err);
      });
  }
</script>
